<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModeControl-Page</title>
    <script src="/controlHTML/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/controlHTML/style.css" />
</head>
<body>
    <div id="layout">
        <div id="shadowPlane"> </div>
        <div id="plane">
            <div id="mainLayout">
                <h1 id="heading"> Control-Page </h1>
                <h4 id="subHeading">Choose driving mode for compatible vehicles!</h4>
                <div id="inputLayout">
                    <button id="submitButton">Submit:</button>
                    <input placeholder="Enter driving mode!" id="input" type="number"></input>
                </div>
            </div>
        </div>
    </div>
</body>
</html>